@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Processo Seletivo - Time Comercial </h1>
    <p>Teste desenvolvido por  <a href="https://www.linkedin.com/in/roger-kennerly-nascimento-242209254/" target="_blank">Roger Kennerly Nascimento</a>.</p>
</div>
